.composant-bloc-texte-image{
    display: flex;
    gap: 36px;
    padding: 30px 0 30px 0;
    
    div{
        align-content: center;
        ul{
            list-style: inside disc;
        }
    }
}
@media only screen and (max-width: 420px){
    .composant-bloc-texte-image{
        padding: 30px 42px 30px 42px;
        img{
            width: 308px;
        }
    }
}