.composant-citation{
    display: flex;
    gap: 36px;
    


    .image-container{
        max-width: 141px;
        max-height: 197px;
        
    }
    .citation{
        background-color: rgba(244, 137, 172, 0.12);
        border-radius: 12px;
        padding: 13px 10px 7px 10px;
    }
}