.composant-lien{
    

    display: flex;
    gap: 50px;
    margin-top:20px ;
    justify-content: right;
    align-items: center;
    a{
        text-decoration: none;
        color: #333D7B;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #333D7B;
        font-size: 1rem;
        line-height: 22px;
        display: flex;

        img{
            margin-left: 40px;
        }
        
    }
    a:hover{
        text-decoration: underline;
    }
    
}