.composant-vignettes{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding:30px 0 30px 0;
    div{
        
        align-items: center;
        


        div{
            max-width: 223px;
            align-items: center;
            display: flex;
            flex-direction: column;
    
            p{
                
                margin-top: 20px;
                text-align: center;
            }
            img{
                width: 223px;
                height: 120px;
            }
            
        }
    }
}