.composant-vignette2{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding:30px 0 30px 0;
    
    div{
        align-items: center;
        


        div{
            max-width: 223px;
            display: flex;
            flex-direction: column;
            
            
    
            h3{
                margin-top: 20px;
                text-align: center;
                list-style: disc ;
                font-size: 1.25rem;
                font-family: "Ubuntu", sans-serif;
                font-weight: 500;
                font-style: normal;
                line-height: 30px;
                
                
            }
            img{
                width: 223px;
                height: 120px;
                margin: 20px 0;
            }
            
                ul{
                    list-style: disc;
                    font-family: "Lato", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    color: #333D7B;
                    font-size: 1rem;
                    text-align: left;
                }
            
            
            
        }
    }
}