iframe{
    width: 750px;
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    border: none; /* Supprime la bordure de l'iframe */
}
.quiz{
    display: flex;
    margin-top: 90px;

    h1{
        width: 426px;
        margin-right: 60px;
    }
}
.quiz-section{
    margin-top: 60px;
    div{
        margin-bottom: 70px;
    }
}