iframe{
    width: 750px;
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    border: none; /* Supprime la bordure de l'iframe */
}
.quiz{
    display: flex;
}
.quiz-section{
    div{
        margin-bottom: 70px;
    }
}